      <mat-card class="matcard">
          <mat-card-title>element</mat-card-title><div class="example-container" >
              <mat-card-content >
                <mat-table #table>
                  <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>

                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>

                    </ng-container>

                    <ng-container matColumnDef="position_X">
                        <mat-header-cell *matHeaderCellDef> Position X </mat-header-cell>

                      </ng-container>

                      <ng-container matColumnDef="position_Y">
                        <mat-header-cell *matHeaderCellDef> Position Y </mat-header-cell>

                      </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

               </mat-table>
               <mat-table #table [dataSource]="dataSource" style="max-height: 200px;" >
                  <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="position_X">
                        <mat-header-cell *matHeaderCellDef> Position X </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.position_X}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="position_Y">
                        <mat-header-cell *matHeaderCellDef> Position Y </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.position_Y}} </mat-cell>
                      </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns" style="display:none;" ></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelect(row,$event)" [class.mattablerow-selected]="row.selected" class="mattablerow"></mat-row>
               </mat-table>
              </mat-card-content>
</div>
      </mat-card>

