      <mat-card class="matcard">
          <div class="example-container elementContainer" >
              <mat-card-content >
                  <button mat-raised-button (click)="get();"><mat-icon>format_align_center</mat-icon></button>
                <mat-table #table class="mattableheader">
                  <ng-container matColumnDef="ID">
                      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>

                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>

                    </ng-container>

                    <ng-container matColumnDef="Position_X">
                        <mat-header-cell *matHeaderCellDef> Position X </mat-header-cell>

                      </ng-container>

                      <ng-container matColumnDef="Position_Y">
                        <mat-header-cell *matHeaderCellDef> Position Y </mat-header-cell>

                      </ng-container>
                      <ng-container matColumnDef="Width">
                        <mat-header-cell *matHeaderCellDef> Width </mat-header-cell>

                      </ng-container>
                      <ng-container matColumnDef="Height">
                        <mat-header-cell *matHeaderCellDef> Height </mat-header-cell>

                      </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

               </mat-table>
               <mat-table #table [dataSource]="dataSource" [ngStyle]="{ 'max-height': settings.noOfRowsInTable * 35+ 'px' }">
                  <ng-container matColumnDef="ID">
                      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.ID}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Position_X">
                        <mat-header-cell *matHeaderCellDef> Position X </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.Position_X}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="Position_Y">
                        <mat-header-cell *matHeaderCellDef> Position Y </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.Position_Y}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="Width">
                        <mat-header-cell *matHeaderCellDef> Width </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.Width}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="Height">
                        <mat-header-cell *matHeaderCellDef> Height </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.Height}} </mat-cell>
                      </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns" style="display:none;" ></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelect(row,$event)" [class.mattablerow-selected]="row.Selected" class="mattablerow"></mat-row>
               </mat-table>

              </mat-card-content>
</div>

      </mat-card>

