<mat-card class="matcard">
  <div class="example-container" >
      <mat-card-content >
        <div class="button-row"><mat-list></mat-list>
            <form class="">
                <mat-form-field class="">
                    <input matInput placeholder="Name" value="{{element.name}}">
                </mat-form-field>
            </form>
        </div>
        <mat-divider></mat-divider>
        <div class="button-row">
            <button mat-raised-button color="{{element.font.centeralign ? 'primary' : ''}}" (click)="toggleAlignCenter();"><mat-icon>format_align_center</mat-icon></button>
            <button mat-raised-button color="{{element.font.bold ? 'primary' : ''}}" (click)="toggleBold();"><mat-icon>format_bold</mat-icon></button>
            <button mat-raised-button color="{{element.font.italic ? 'primary' : ''}}" (click)="toggleItalic();"><mat-icon>format_italic</mat-icon></button>
            <button mat-raised-button color="{{element.font.unterline ? 'primary' : ''}}" (click)="toggleUnderline();"><mat-icon>format_underlined</mat-icon></button>
            <mat-form-field>
              <mat-select placeholder="Font Size" [(ngModel)]="element.font.size">
                <mat-option *ngFor="let font of [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 25, 30, 36, 48, 56, 72]" [value]="font">
                  {{ font }}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div class="button-row">
          <form class="example-form">
            <mat-form-field class="">
              <input matInput placeholder="Position X" value="{{element.position_X}}" onkeypress="return String.fromCharCode(event.charCode).match(/[0-9 ]/g) != null">
            </mat-form-field><mat-form-field class="">
              <input matInput placeholder="Position Y" value="{{element.position_Y}}" onkeypress="return String.fromCharCode(event.charCode).match(/[0-9 ]/g) != null">
            </mat-form-field><mat-form-field class="">
              <input matInput placeholder="Width" value="{{element.width}}" onkeypress="return String.fromCharCode(event.charCode).match(/[0-9 ]/g) != null">
            </mat-form-field><mat-form-field class="">
              <input matInput placeholder="Height" value="{{element.height}}" onkeypress="return String.fromCharCode(event.charCode).match(/[0-9 ]/g) != null">
            </mat-form-field>

          </form>
        </div>
        <div class="button-row">
            <mat-checkbox class="example-margin" [(ngModel)]="element.onTop">On Top</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="element.showName">Show Name</mat-checkbox>
           <!-- <mat-checkbox class="example-margin" [(ngModel)]="element.picture">Picture</mat-checkbox>-->
            <mat-checkbox class="example-margin" [(ngModel)]="element.showBorder">Show Border</mat-checkbox>
        </div>

      </mat-card-content>
    </div>

</mat-card>

