/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/purple-green.css';


body {
  margin: 0 !important;
}

.mat-drawer-container{
  width: 100% !important;
  height: calc(100% - 64px) !important;
  position: fixed !important;
}

.mattablerow-selected{
  background: #7b1fa2;
}
.mattablerow{
  cursor: pointer;
  user-select: none;
}
.matcard{
  width: 90%;
  height: 90%
}

.example-container {
  display: flex;
  flex-direction: column;
}
.mat-table {
  overflow: auto;
overflow-y: scroll;
}
