/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';


body {
  margin: 0 !important;
}
.container-fluid{
  padding:0 !important;
  height:100%;
}
.mat-drawer-container{
  width: 100% !important;
  height: calc(100% - 64px) !important;
  position: fixed !important;
}

.mattablerow-selected{
  background: #3f51b5;
  color:rgba(255,255,255,.87);
}
.mattablerow-selected > .mat-cell{
  background: #3f51b5;
  color:rgba(255,255,255,.87);
}
.mattablerow{
  cursor: pointer;
  user-select: none;
}
.matcard{
  margin:20px;
}
.example-spacer {
  flex: 1 1 auto;
}
.example-full-width{
  margin: 0px 10px;
}
.example-container {
  display: flex;
  flex-direction: column;
}
.mat-table {
  overflow: auto;
overflow-y: scroll;
}
