/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';


body {
  margin: 0 !important;
}
.container-fluid{
  padding:0 !important;
  height:100%;
}
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.mat-drawer-container{
  width: 100% !important;
  height: calc(100% - 64px) !important;
  position: fixed !important;
}
.mattableheader{
  overflow-y:hidden !important;
}
.mattablerow-selected{
  background: #3f51b5;
  color:rgba(255,255,255,.87);
}
.mattablerow-selected > .mat-cell{
  background: #3f51b5;
  color:rgba(255,255,255,.87);
}
.mattablerow{
  cursor: pointer;
  user-select: none;
}
.row{
  margin-left:0  !important;
  margin-right:0 !important;
}
.mat-button-toggle-checked{
  background: #3f51b5 !important;
}
.matcard{
  margin:20px;
}
.example-spacer {
  flex: 1 1 auto;
}
.example-full-width{
  margin: 0px 10px;
}
.example-container {
  display: flex;
  flex-direction: column;
}
.mat-table {
  overflow: auto;
overflow-y: scroll;
}
.settingsLabel label{
  padding: 0;
}
.valueType{
  font-weight: bold;
}
.valueType .mat-button-toggle-checked{
  color:rgba(255,255,255,.87);
}
.value .mat-form-field{
  padding-right:24px;
  box-sizing: border-box;
}
.valueButtonRow .mat-raised-button{
  min-width:30px;
  padding:0 0 0 0;
}
.buttons{
  display: inline;
}
.buttons .mat-form-field, .mat-checkbox{
  padding-left: 10px;
}
.app-value .matcard{
  margin-top:0px;
}
.elementContainer .mat-row{
  min-height:34px;
}
#valueType{
  margin-top:10px;
  margin-bottom:5px;
}
.valueDirect{
  margin-top:10px;
}
.value-static{
  margin-top:10px;
}
.DBType{
  margin-right:10px;
}
.simpleRow{
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width:100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
.simpleRow .buttonInRow{

}
.simpleRow .simpleRowButtons{
  margin-right: 0;
  margin-left: auto;
  display: block;
}
