<h1 mat-dialog-title>Settings</h1>



<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Display
    </mat-panel-title>
    <mat-panel-description>
      
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div mat-dialog-content>
    <form novalidate>
      <mat-form-field class="">
        <input matInput name="noOfRowsInTable" [(ngModel)]="settings.noOfRowsInTable" maxlength="256" placeholder="Number of elements in Table" onkeypress="return String.fromCharCode(event.charCode).match(/[0-9 ]/g) != null">
  
      </mat-form-field>
    </form>
  </div>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Connection
    </mat-panel-title>
    <mat-panel-description>
      
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div mat-dialog-content>
    <form novalidate>
      <mat-form-field class="">
        <input matInput name="DBAddr" [(ngModel)]="settings.DBAddr" maxlength="256" placeholder="Database path">
  
      </mat-form-field>
    </form>
    <form novalidate>
      <mat-form-field class="">
        <input matInput name="DBUser" [(ngModel)]="settings.DBUser" maxlength="256" placeholder="Database User name">
  
      </mat-form-field>
    </form>
    <form novalidate>
      <mat-form-field class="">
        <input matInput name="DBPassword" [(ngModel)]="settings.DBPassword" maxlength="256" placeholder="Database Password">
  
      </mat-form-field>
    </form>
  </div>
</mat-expansion-panel>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true"  cdkFocusInitial (click)="save()">Save</button>
</mat-dialog-actions>